[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
nfl-data-py = "*"
seaborn = "*"
scikit-learn = "*"
tornado = "==5.1.1"
ipykernel = "*"
traitlets = "==4.3.3"

[dev-packages]

[requires]
python_version = "3.10"
